<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores et laboriosam incidunt corrupti modi distinctio assumenda ab, perferendis ea neque ad provident velit aperiam omnis itaque? Deserunt, omnis praesentium?</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quae consequatur quisquam. Quod veniam illo inventore perspiciatis, architecto esse atque vitae voluptate molestiae nobis laborum maiores ipsum neque, consequuntur fugit.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aut ipsum, maiores et tempora ipsam recusandae eius earum, quas sit voluptatum reprehenderit nulla eum? Voluptates reiciendis amet accusamus exercitationem reprehenderit.</p>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>